<nav class="navbar navbar-expand-sm bg-light">
    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="list" routerLinkActive="activeClass">Post List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="create" routerLinkActive="activeClass">Create List</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" routerLink="view" routerLinkActive="activeClass">View List</a>
        </li> -->
    </ul>

</nav>

<!-- For displaying of the component , there is other directive -->
<div>
    <router-outlet></router-outlet>
</div>

<div *ngIf="showLoadingIndicator" class="spinner"></div>